/* You can add global styles to this file, and also import other style files */
/* .compProductList {
    border: 2px solid green;
} */

/* tr {
    border: 2px solid green;
} */
/* .tableRow {
    border: 2px solid green;
} */

.component {
    padding: 5px;
    margin: 5px;

}